/* CSS for index.html */
body {
    background-color: rgb(238, 224, 234);
}

#agenda {
    background-color: #928ecc;

    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

header {
    background-color: rgb(71, 154, 154);
}

#heading {
    color: hsl(320, 100%, 95%);
}

/* Add spacing and border around attendance box */
.attendance {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 5%;

    margin-top: 3ex;
    margin-bottom: 3ex;
    margin-left: 10ex;
    margin-right: 10ex;
}

h1 {
    margin: 2mm 2mm 4mm 4mm;
    padding: 1rem 1rem 0.5rem 0.5rem;
    position: relative;
    height: 40px;
    width: 50%;
}

h2 {
    margin: auto;
    display: inline-block;
}

video {
    display: inline;
    position: sticky;
    max-width: 100%;
    min-width: 40%;
}

/* Style flexbox for main meeting notes */

#main-meeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-child {
    border: 1px solid black;
    padding: 4px 4px 4px 4px;
    background-color: azure;

    flex-grow: 1;
    flex-shrink: 3;
    align-self: auto;
}

#grid {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5%;
    grid-template-rows: 1fr;
    justify-content: start;
}

.grid-child {
    justify-self: center;
    align-self: center;
}